<div class="app-main-container">

    <div class="app-card-container">

        <md-card *ngFor="let item of DATA">
            <md-card-title>{{ item.name }}</md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <h3 md-line>{{ item.position | translate:lang }}</h3>
                        <p md-line>{{ item.salary | localecurrency:defaultLocale:currency:true:'1.0-0' }}</p>
                        <p md-line>{{ item.startDate | localedate:defaultLocale:'mediumDate' }}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

    </div>

    <!--Async methods-->
    <!--<div class="app-card-container">

        <md-card *ngFor="let item of ASYNC_DATA | async">
            <md-card-title>{{ item.name }}</md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <h3 md-line>{{ item.position | translate:lang }}</h3>
                        <p md-line>{{ item.salary | localecurrency:defaultLocale:currency:true:'1.0-0' }}</p>
                        <p md-line>{{ item.startDate | localedate:defaultLocale:'mediumDate' }}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

    </div>-->

    <div class="app-aside-container" *ngIf="intlSupport == true">

        <button type="submit" md-raised-button color="primary" (click)="orderBy('position')">{{ 'ORDER_BY_POSITION' | translate:lang }}</button><br>
        <button type="submit" md-raised-button color="primary" (click)="orderBy('position', 'desc')">{{ 'ORDER_BY_DESC_POSITION' | translate:lang }}</button><br>

        <md-input ref-s (keyup)="search(s.value)" placeholder="{{ 'SEARCH_BY_POSITION' | translate:lang}}"></md-input>
        <button md-icon-button (click)="s.value = ''; reset()">
            <i class="material-icons md-24">clear</i>
        </button>

    </div>

</div>