<div class="container">
    <form [formGroup]="accountForm" (submit)="submit()">
        <div class="row">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer accountForm Information</h3>
                </div>
                <div class="panel-body">


                    <div class="col-lg-4">
                        <div class="page-header">
                            <h1>Create Free Account</h1>
                        </div>
                        <fieldset class="form-group">
                            <label for="email">Email</label>
                            <input formControlName="email" type="text" class="form-control input-lg" id="email"
                                   placeholder="Enter email">
                            <form-ctrl-message [control]="accountForm.controls.email"></form-ctrl-message>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="password">Password</label>
                            <input formControlName="password" type="password" class="form-control input-lg"
                                   id="password" placeholder="Enter password">
                            <form-ctrl-message [control]="accountForm.controls.password"></form-ctrl-message>
                        </fieldset>

                        <fieldset class="form-group">
                            <small class="text-muted">
                                <div *ngIf="errorMessage !== null"> {{ errorMessage }}</div>
                            </small>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary" [disabled]="!accountForm.valid">Submit</button>
    </form>
</div>