<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>

</head>
<body>

<p>{{ birthday | localedate:defaultLocale:'fullDate' }}</p>


<form [formGroup]="userForm" (submit)="saveUser()">
    <label for="name">Name</label>
    <input formControlName="name" id="name" />
    <form-ctrl-message [control]="userForm.controls.name"></form-ctrl-message>

    <label for="email">Email</label>
    <input formControlName="email" id="email" />
    <form-ctrl-message [control]="userForm.controls.email"></form-ctrl-message>

    <label for="profile">Profile Description</label>
    <textarea formControlName="profile" id="profile"></textarea>
    <form-ctrl-message [control]="userForm.controls.profile"></form-ctrl-message>

    <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>


</body>
</html>