<div *ngIf="intlSupport == false" style="color: #D32F2F;">
    {{ 'INTL_SUPPORT' | translate:lang }}<br>
    <br>
</div>

<div class="app-card-container">

    <md-card>
        <md-card-title>{{ 'MESSAGES' | translate:lang }}</md-card-title>
        <md-card-content>
            <p>{{ 'DUMMY_TEXT' | translate:lang }}</p>
            <p>{{ 'AUTHOR' | translate:lang }}&nbsp;<em>{{ 'SOURCE_TITLE' | translate:lang }}</em></p>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>{{ 'DATES' | translate:lang }}</md-card-title>
        <md-card-content>
            <p>{{ today | localedate:defaultLocale:'fullDate' }}</p>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>{{ 'NUMBERS' | translate:lang }}</md-card-title>
        <md-card-content>
            <h3>{{ 'DECIMALS' | translate:lang }}</h3>
            <p>{{ 'PI' | translate:lang }}&nbsp;{{ pi | localedecimal:defaultLocale:'1.5-5' }}</p>
            <br>
            <h3>{{ 'PERCENTAGES' | translate:lang }}</h3>
            <p>{{ a | localepercent:defaultLocale:'1.0-0' }} </p>
            <br>
            <h3>{{ 'CURRENCIES' | translate:lang }}</h3>
            <p>{{ b | localecurrency:defaultLocale:currency:true:'1.2-2' }}</p>
        </md-card-content>
    </md-card>

</div>