<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-3">
                        <div class="page-header">
                            <h1>Login</h1>
                        </div>

                        <fieldset class="form-group">
                            <label for="username">User Name</label>
                            <input formControlName="username" type="text" class="form-control input-lg" id="username"
                                   placeholder="Enter user name">
                            <form-ctrl-message [control]="loginForm.controls.username"></form-ctrl-message>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="password">Password</label>
                            <input formControlName="password" type="password" class="form-control input-lg"
                                   id="password" placeholder="Enter password">
                            <form-ctrl-message [control]="loginForm.controls.password"></form-ctrl-message>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary" [disabled]="!loginForm.valid">Submit</button>

    </form>
</div>
