<div class="container">
    <form [formGroup]="changePasswordForm" (submit)="SubmitButtonAction()">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer Security</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-offset-0">
                        <div class="page-header">
                            <h1>Change Password</h1>
                        </div>
                        <fieldset class="form-group">
                            <label for="oldpassword">Old Password</label>
                            <input formControlName="oldpassword" type="password" class="form-control input-lg" id="oldpassword" placeholder="Enter password">
                            <small class="text-muted"><form-ctrl-message [control]="changePasswordForm.controls.oldpassword"></form-ctrl-message></small>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="newpassword">Password</label>
                            <input formControlName="newpassword" type="password" class="form-control input-lg" id="newpassword" placeholder="Enter password">
                            <small class="text-muted"><form-ctrl-message [control]="changePasswordForm.controls.newpassword"></form-ctrl-message></small>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="passwordValidation">Password again</label>
                            <input formControlName="passwordValidation" type="password" class="form-control input-lg" id="passwordValidation" placeholder="Enter password">
                            <small class="text-muted"><form-ctrl-message [control]="changePasswordForm.controls.passwordValidation"></form-ctrl-message></small>
                        </fieldset>

                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary" [disabled]="!changePasswordForm.valid">Submit</button>
        </div>
    </form>
</div>