<div class="container">
    <form [formGroup]="changePasswordForm" (submit)="accionButtonUserForm()">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer Security</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-offset-0">
                        <div class="page-header">
                            <h1>Change Password</h1>
                        </div>
                        <fieldset class="form-group">
                            <label for="password">Old Password</label>
                            <input formControlName="password" type="password" class="form-control input-lg" id="oldpassword" placeholder="Enter password">
                            <small class="text-muted"><form-ctrl-message [control]="changePasswordForm.controls.password"></form-ctrl-message></small>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="password">Password</label>
                            <input formControlName="password" type="password" class="form-control input-lg" id="password" placeholder="Enter password">
                            <small class="text-muted"><form-ctrl-message [control]="changePasswordForm.controls.password"></form-ctrl-message></small>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="password_">Password again</label>
                            <input formControlName="password_" type="password" class="form-control input-lg" id="password_" placeholder="Enter password">
                            <small class="text-muted"><form-ctrl-message [control]="changePasswordForm.controls.password_"></form-ctrl-message></small>
                        </fieldset>

                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary"  [disabled]="!changePasswordForm.valid">Submit</button>
        </div>
    </form>
</div>