<div class="container" style="max-width: 400px;">
    <h2>Password change</h2>
    <form accept-charset="UTF-8" role="form" [formGroup]="changePasswordForm" (submit)="SubmitButtonAction()">
        <div class="form-group">
            <label for="oldPassword">{{ 'OLD_PASSWORD' | translate:lang }}</label>
            <input formControlName="oldPassword" type="password" class="form-control input-lg"
                   id="oldPassword" placeholder="Old Password" autofocus/>
            <form-ctrl-message [control]="changePasswordForm.controls.oldPassword"></form-ctrl-message>
        </div>
        <div class="form-group">
            <label for="newPassword">{{ 'PASSWORD' | translate:lang }}</label>
            <input formControlName="newPassword" type="password" class="form-control input-lg"
                   id="newPassword" placeholder="{{ 'PASSWORD' | translate:lang }}"/>
            <form-ctrl-message [control]="changePasswordForm.controls.newPassword"></form-ctrl-message>
        </div>
        <div class="form-group">
            <label for="passwordValidation">{{ 'PASSWORD_AGAIN' | translate:lang }}</label>
            <input formControlName="passwordValidation" type="password" class="form-control input-lg"
                   id="passwordValidation" placeholder="Password again"/>
            <form-ctrl-message [control]="changePasswordForm.controls.passwordValidation"></form-ctrl-message>
        </div>
        <fieldset class="form-group">
            <small *ngIf="errorMessage !== null" class="text-muted">
                {{ errorMessage }}
            </small>
        </fieldset>
        <fieldset class="form-group">
            <small *ngIf="infoMessage !== null" class="text-muted">
                {{ infoMessage }}
            </small>
        </fieldset>
        <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!changePasswordForm.valid">
            {{ 'SUBMIT' | translate:lang }}
        </button>
    </form>
</div>