/*template basic*/
html, body {
    color: #333;
    height: 100%;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    transition: all ease 0.25s;
    -webkit-transition: all ease 0.25s;
}

a:hover, .hand {
    cursor: pointer;
}

.btn-success {
    border-color: #18bc9c;
    background-color: #18bc9c;
}

.login-btn {
    margin-top: 13px;
    border-color: #18bc9c;
    background-color: #18bc9c;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

md-sidenav-layout {
    min-height: 100%;
}

.app-root {
    height: 100%;
    padding-top: 62px;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: #f5f5f5;
}

.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

/*template basic*/

/*forms generic*/
.field-validation-error {
    color: #a94442;
}

.error {
    color: white;
    background-color: red;
}