<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
    <h4 class="modal-title" ></h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>{{ 'SIGN_IN' | translate:lang }}</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger">
                <strong>{{ 'SIGNIN_ERROR' | translate:lang }}</strong>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <form #searchForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">{{ 'USERNAME' | translate:lang }}</label>
                    <input type="text" [(ngModel)]="user.username"  class="form-control"  required ngControl="username" #inputUsername="ngForm" >
                    <p  [hidden]="inputUsername.valid">{{ 'MESSAGE_VALID_INPUT' | translate:lang }}</p>
                </div>
                <div class="form-group">
                    <label for="password">{{ 'PASSWORD' | translate:lang }}</label>
                    <input type="password" [(ngModel)]="user.password"  class="form-control"  required  ngControl="password" #inputPassword="ngForm">
                    <p [hidden]="inputPassword.valid">{{ 'MESSAGE_VALID_INPUT' | translate:lang }}</p>
                </div>
                <div class="form-group">
                    <label for="rememberMe">
                        <input type="checkbox" id="rememberMe"  checked>
                        <span>{{ 'REMEMBER_ME' | translate:lang }}</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">{{ 'SIGN_IN' | translate:lang }}</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" href="">{{ 'FORGET_PASSWORD' | translate:lang }}</a>
            </div>
            <div class="alert alert-warning">
                {{ 'HAVE_ACCOUNT' | translate:lang }} <a class="alert-link" href="">{{ 'NEW_ACCOUNT' | translate:lang }}</a>
            </div>
        </div>
    </div>
</div>
