<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">



            <button type="button" class="navbar-toggle" > <!--ng-click="vm.navCollapsed = !vm.navCollapsed"-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/">
                <!--<img alt="Brand" src="content/images/brand01.png"/>-->
                <span >Twicepixels</span>  <!--translate="global.title" -->
                <span class="navbar-version">{{ 'VERSION' | translate:lang }}</span>
            </a>
            <ul class="nav navbar-nav">
                <li>  <!-- ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="twpLanguageController as languageVm" -->
                    <a class="dropdown-toggle" data-toggle="dropdown">  <!-- uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1" -->
                       <span>
                           <span class="glyphicon glyphicon-flag"></span>
                           <span class="hidden-sm"> {{langSelected.name}} </span> <!-- {{languageVm.languageKey | findLanguageFromKey}} -->
                           <b class="caret"></b>
                       </span>
                    </a>

                    <ul class="dropdown-menu" > <!-- uib-dropdown-menu ng-if="languageVm.languages.length > 1" -->
                        <li *ngFor="let lenguage of languages" > <!-- active-menu="{{language}}"  ng-repeat="language in languageVm.languages"-->
                            <!--<a href="#">{{lenguage.name}}</a>  ng-click="languageVm.changeLanguage(language)" data-toggle="collapse" data-target=".navbar-collapse.in" -->   <!-- {{language | findLanguageFromKey}} -->
                            <a md-line  (click)="selectLocale(lenguage); root.dir = 'ltr'">{{lenguage.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse"> <!-- uib-collapse="vm.navCollapsed" ng-switch="vm.isAuthenticated()" -->
            <ul class="nav navbar-nav navbar-right">
                <li> <!-- ui-sref-active="active" -->
                    <a [routerLink]="['/home']"><!-- ui-sref="home" ng-click="vm.navCollapsed = true" -->
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm"><!--translate="global.menu.home"-->
                            {{ 'HOME' | translate:lang }}
                        </span>
                    </a>
                </li>


                <li><!-- ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer" -->
                    <a class="dropdown-toggle" data-toggle="dropdown"  href="#" id="account-menu"> <!-- uib-dropdown-toggle -->
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="hidden-sm"> <!-- translate="global.menu.account.main" -->
                            {{ 'ACCOUNT' | translate:lang }}
                        </span>
                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu"> <!--uib-dropdown-menu-->
                        <li> <!--  ui-sref-active="active" ng-switch-when="true"  -->
                            <a [routerLink]="['/home']"> <!-- ui-sref="settings" data-toggle="collapse" data-target=".navbar-collapse.in"  -->
                                <span class="glyphicon glyphicon-wrench"></span>&#xA0;
                                <span >{{ 'HOME' | translate:lang }}</span>
                            </a>
                        </li>
                        <li> <!--  ui-sref-active="active" ng-switch-when="true"  -->
                            <a [routerLink]="['/i18n']"> <!-- ui-sref="password" data-toggle="collapse" data-target=".navbar-collapse.in" -->
                                <span class="glyphicon glyphicon-lock"></span> &#xA0;
                                <span >{{ 'I18N' | translate:lang }}</span>
                            </a>
                        </li>
                        <li> <!--  ui-sref-active="active" ng-switch-when="true"  -->
                            <a [routerLink]="['/list']"> <!-- ui-sref="sessions" data-toggle="collapse" data-target=".navbar-collapse.in" -->
                                <span class="glyphicon glyphicon-cloud"></span> &#xA0;
                                <span>{{ 'LIST' | translate:lang }}</span>
                            </a>
                        </li>
                        <li> <!--  ui-sref-active="active" ng-switch-when="true"  -->
                            <a [routerLink]="['/validation']">  <!-- ng-click="vm.logout()" id="logout" data-toggle="collapse" data-target=".navbar-collapse.in" -->
                                <span class="glyphicon glyphicon-log-out"></span>&#xA0;
                                <span>{{ 'VALIDATION' | translate:lang }}</span>
                            </a>
                        </li>
                        <li> <!--  ui-sref-active="active" ng-switch-when="false"  -->
                            <a [routerLink]="['/login']">  <!-- ng-click="vm.login()" id="login" data-toggle="collapse" data-target=".navbar-collapse.in" -->
                                <span class="glyphicon glyphicon-log-in"></span>&#xA0;
                                <span  ><!--translate="global.menu.account.login" -->
                                    {{ 'SIGNIN' | translate:lang }}
                                </span>
                            </a>
                        </li>
                        <li> <!--  ui-sref-active="active" ng-switch-when="false"  -->
                            <a> <!-- ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in" -->
                                <span class="glyphicon glyphicon-plus-sign"></span>&#xA0;
                                <span><!--translate="global.menu.account.register"-->
                                    {{ 'REGISTER' | translate:lang }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<md-sidenav-layout ref-root="$implicit" [dir]="dir">
    <md-sidenav ref-start mode="over">





        <md-nav-list>
            <h3>{{ 'CHANGE_COUNTRY' | translate:lang }}</h3>
            <md-list-item>
                <a md-line (click)="selectLocale('en', 'US', 'USD'); root.dir = 'ltr'">United States</a>
                <i class="material-icons" *ngIf="currentCountry == 'US'">done</i>
            </md-list-item>
            <md-list-item>
                <a md-line (click)="selectLocale('en', 'GB', 'GBP'); root.dir = 'ltr'">United Kingdom</a>
                <i class="material-icons" *ngIf="currentCountry == 'GB'">done</i>
            </md-list-item>
            <md-list-item>
                <a md-line (click)="selectLocale('it', 'IT', 'EUR'); root.dir = 'ltr'">Italia</a>
                <i class="material-icons" *ngIf="currentCountry == 'IT'">done</i>
            </md-list-item>
            <md-list-item>
                <a md-line (click)="selectLocale('ar', 'SA', 'SAR'); root.dir = 'rtl'">المملكة العربية السعودية</a>
                <i class="material-icons" *ngIf="currentCountry == 'SA'">done</i>
            </md-list-item>
            <md-list-item>
                <a md-line (click)="selectLocale('es', 'CR', 'CRC'); root.dir = 'ltr'">Costa Rica</a>
                <i class="material-icons" *ngIf="currentCountry == 'CR'">done</i>
            </md-list-item>
        </md-nav-list>

        <md-nav-list>
            <h3>{{ 'RESOURCES' | translate:lang }}</h3>
            <a md-list-item href="https://github.com/robisim74/angular2localization/tree/gh-pages">{{ 'SOURCE_CODE' | translate:lang }}</a>
        </md-nav-list>

    </md-sidenav>

    <div class="app-root">

        <md-toolbar color="warn">
            <i class="material-icons" (click)="start.open()">menu</i>
            <div class="app-toolbar">
                <h1>{{ 'TITLE' | translate:lang }}</h1>
            </div>
            <md-toolbar-row>
                <p>{{ 'SUBTITLE' | translate:lang }}</p>
            </md-toolbar-row>
        </md-toolbar>


        <div class="app-content">

            <router-outlet></router-outlet>

        </div>

    </div>

</md-sidenav-layout>