/*app*/
html,
body {
    height: 100%;
    margin: 0;
}

.app-root {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    padding: 0;
    height: 100%;
}
.app-root * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.app-root md-toolbar i {
    padding: 20px 12px 20px 12px;
    cursor: pointer;
}
.app-root md-toolbar .app-toolbar {
    display: -webkit-flex;
    display:         flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 8px;
}
.app-root md-toolbar button {
    color: white;
}
.app-root h1 {
    font-size: 20px;
}
.app-content {
    padding: 15px;
}

/*sidenav*/
md-sidenav-layout {
     min-height: 100%;
}
md-sidenav {
    width: 250px;
}
md-sidenav h3 {
    padding: 0 16px;
}

/*list*/
md-list, md-nav-list {
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.router-link-active .md-list-item {
    color: #D32F2F;
}

/*container*/
.app-card-container {
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
}

.app-card-container md-card {
    margin: 8px;
    width: 350px;
}

.app-main-container {
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
}

.app-main-container > .app-card-container {
    -webkit-flex: 3 1 60%;
            flex: 3 1 60%;
    -webkit-order: 1;
            order: 1;
}

.app-main-container > .app-aside-container {
    margin: 8px;
    -webkit-flex: 1 1 40%;
            flex: 1 1 40%;
    -webkit-order: 2;
            order: 2;
}

.app-aside-container > [md-raised-button], .app-aside-container > md-input {
    margin: 5px;
}

@media all and (max-width: 640px) {

  .app-main-container {
    -webkit-flex-flow: column;
            flex-flow: column;
            flex-direction: column;
  }

  .app-main-container > .app-card-container, .app-main-container > .app-aside-container {
    -webkit-order: 0;
            order: 0;
  }

    .error{
        color: red;
        font-size: 12px;
    }

}
  

